	* {
		box-sizing: border-box;
		
	}
	/*general styling*/

	body{
		font-family: arimoRegular;
		
		
	}

	h1 {
		font-family: merriweatherBlack;
		font-size: 2em;
		color: white;
		background-color: rgba(0,0,0,0.5);
	}

	h1 > em{
		font-size: .8em;
	}
	h2{
	  font-family: quicksandRegular;
	  color: white;
		   
	}
	h3{
		font-family: quicksandLight;
		color: #363636;
	}
	h4{
		color: #474747;
	}	

	nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	nav ul li a:link{
		text-decoration: none;
		color: #ffaaa6;
		font-weight: 800;
	}
	nav ul li a:visited{
		color: #ffaaa6;
	}
	nav ul li a:hover{
		color: deeppink;
	}

	ul li{
		list-style: none;

	}
	aside li a:link{
		color: #fe0371;
		text-decoration: none;
	}
	aside li a:visited{
		color:#fe0371;
	}
	aside li a:hover{
		color: #363636;
	}
	.class > img {
		width: 100%;
		height: auto;
	}

	.title img{
		width: 80%;
		display:block;
		margin:auto;
		padding-bottom: 20px;
	}
	.title{
		background-color: black;
		padding-bottom: 100px;
		text-align: center;
	} 

	 a:link{
		color: #fe0371;
		text-decoration: none;
	}
	a:visited{
		color: #fe0371;
		text-decoration: none;
	}
	a:hover{
		color: #363636;
	}
	.tagline {
		background-image: url("../img/abstract.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		
		}  
	.nav {
		background-color: #2a363b;
		
		}   
	.paras{
		background-color: #ffd3b5;
		margin-bottom: 50px;
	}	
	.icon{
		border: solid lightgray 5px;
		border-radius: 10px;
		background: #99b898;
		margin: 20px;
		text-align: center;
		padding: 10px;
		
	}
	
	.icon:nth-child(odd) {
		background: #e0e0e0;
	}
	.icon:nth-child() {
		background: #99b898;
	}
	.side{
		border: solid lightgray 5px;
		border-radius: 10px;
		background: #99b898;
		margin: 20px;
		
	}
	.main-footer{
		color: white;
		background-image: url("../img/abstract.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin: 0;
	}

	.main-footer > p{
		background-color: rgba(0,0,0,0.5);
	}	
	.container {
			
			margin: 0 auto;
			font: 1.2em Helvetica, arial, sans-serif;
			color: #2a363b;
		}


	/*container business*/

	@media only screen and (min-width : 100px) {
		  .container {
			max-width: 100%;
			margin: 5px;
			margin: 0 auto;
			display: grid;
			
			grid-template-columns: 1fr;
			grid-template-areas: 
			  "tagline" 
			  "nav"
			  "title"
			  "paras"
			  "subs"
			  "footer";
		  }


	.container > * {
		  
			padding: 10px;
		}

	.tagline {
		grid-area: tagline;
		}
	.nav {
		  grid-area: nav;
		  
		  display: flex;
		   flex-direction: column;
		   text-align: center;
		   font-size: 1.25em;
		}

	.title {
		grid-area: title;
		}
	.paras {
		  grid-area: paras;
		}
	.lit{
		grid-area: lit;
	}	
	.subs {
		grid-area: subs;
	}
	.side {
		  grid-area: side;
		}

	.main-footer {
		  grid-area: footer;
		}

	.s1  {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			align-content: center;
		}
	.s2  {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			align-content: center;
		}
		.s3  {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			justify-content: center;
		}
		
	}
	@media only screen and (min-width : 700px) {
		  .container {
			max-width: 100%;
			margin: 5px;
			margin: 0 auto;
			display: grid;
		  
		  
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-areas: 
			  "tagline tagline tagline"
			  "nav nav nav"
			  "title title title"
			  "paras paras subs"
			  "paras paras subs"
			  "side side ."
			  "footer footer footer";
		  }
		  nav ul {
			display: flex;
			justify-content: space-between;
		  }
			.s1  {
			display: grid;
			grid-template-columns: .5fr .5fr;
			grid-template-rows: auto;
			justify-content: center;
			}
			.s2  {
			display: grid;
			grid-template-columns: .5fr .5fr;
			grid-template-rows: auto;
			justify-content: center;
			}
			.s3  {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			justify-content: center;
			}
	}
	@media only screen and (min-width : 1000px) {
		  .container {
			max-width: 1200px;
			margin: 5px;
			margin: 0 auto;
			display: grid;
			
			
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			grid-template-rows: auto;
			grid-template-areas: 
			  "tagline tagline tagline tagline tagline"
			  "nav nav nav nav nav"
			  "title title title title title"
			  "paras paras paras subs subs"
			  "paras paras paras subs subs"
			  "paras paras paras . side"
			  "paras paras paras . lit"
			  "footer footer footer footer footer"
		   }
		   nav ul {
			 flex-direction: row;
		   }
			.s1  {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto;
			justify-content: center;
	}
			.s2  {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto;
			justify-content: center;
		}
			.s3  {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			justify-content: center;
		}
	}
		
		@font-face {
		font-family: merriweatherBlack;
		src: url("Merriweather-Black.otf");
	}
		@font-face {
		font-family: quicksandRegular;
		src: url("Quicksand-Regular.otf");
	}
		@font-face {
		font-family: quicksandLight;
		src: url("Quicksand-Light.otf");
	}
		@font-face {
		font-family: arimoRegular;
		src: url("Arimo-Regular.otf");
	}